body {
  background-color: #328E6E;
  margin: none;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}


h1, h2, h3 {
  color:aliceblue;
  font-family:"Roboto", serif;
}

.btn {
  margin-top: 10px;
  border: none;
  background-color: burlywood;
  color: green;
  padding: 10px;
font-family:"Roboto", serif;
}
